<%= link_to "All Pass Holding Guests", "/guests" %>
<%= link_to "All Resorts", "/resorts" %>
<%= link_to "#{@resort.name} Guests", "/resorts/#{@resort.id}/guests" %>


<h1><%= @resort.name %></h1>
<h3>Guest Count: <%= @guest_count %></h3>
<h3>Max Capacity: <%= @resort.max_capacity %></h3>
<h3>Open for Season: <%= @resort.open_for_season ? "Yes" : "No" %></h3>

<%= link_to "Update Resort", "/resorts/#{@resort.id}/edit" %>