<%= link_to "All Pass Holding Guests", "/guests" %>
<%= link_to "All Resorts", "/resorts" %>

<h1><%= @resort.name %> Guests</h1>

<% @guests.each do |guest| %>
  <h3><%= guest.name %></h3>
  <p>Pass Holder: <%= guest.pass_holder ? "Yes" : "No" %></p>
  <p>Days Active: <%= guest.days_active %></p>
<% end %>

<%= link_to "Add New Guest", "/resorts/#{@resort.id}/guests/new" %><br/><br/>
<%= link_to "Sort by Name", "/resorts/#{@resort.id}/guests/sort" %>